.product {
  width: 300px;
  height: 510px;
  border: 1px solid gray;
  border-radius: 8px;
  position: relative;
}
.product img {
  height: 285px;
  width: 285px;
  margin: 7px;
  border-radius: 8px;
}
.product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  margin-top: 0;
  margin-bottom: 0;
}
.product-info{
    margin-left: 15px;
}
.add-to-cart {
  width: 100%;
  position: absolute;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  bottom: 0;
}
.add-to-cart:hover{
    background: #d48f28;
}
